CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE genres (
		id INTEGER PRIMARY KEY AUTOINCREMENT,
		genre TEXT NOT NULL UNIQUE  
	);
CREATE TABLE games (
		id INTEGER PRIMARY KEY AUTOINCREMENT,
		platform_id INTEGER,
		genre_id INTEGER,  
		title TEXT NOT NULL,
		release_year INTEGER NOT NULL,
		developer TEXT NOT NULL,
		FOREIGN KEY (platform_id) REFERENCES platforms(id) ON DELETE CASCADE,
		FOREIGN KEY (genre_id) REFERENCES genres(id) ON DELETE SET NULL  
	);
CREATE TABLE ratings (
		id INTEGER PRIMARY KEY AUTOINCREMENT,
		game_id INTEGER,
		rating INTEGER NOT NULL,
		FOREIGN KEY (game_id) REFERENCES games(id) ON DELETE CASCADE
	);
CREATE TABLE platforms (
		id INTEGER PRIMARY KEY AUTOINCREMENT,
		company TEXT NOT NULL,
		system TEXT NOT NULL
		);
